<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common::header(Employees)">
</head>
<body>
    
    <!-- 顶部导航栏 -->
    <nav th:replace="common/common::topMenu"></nav>
    <!-- 顶部导航栏 -->
    
    <div class="container-fluid">
        <div class="row">
            
            <!-- 侧边栏 -->
            <nav th:replace="common/common::sidebarMenu('')"></nav>
            <!-- 侧边栏 -->
            
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
                
                <h2>Section title</h2>
                <form method="post" th:action="@{/add}">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="inputId">Id</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="inputId" name="id" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="inputName">Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="inputName" name="name" type="text">
                        </div>
                    </div>
                    <fieldset class="form-group row">
                        <legend class="col-form-label col-sm-2 float-sm-left pt-0">Gender</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input checked class="form-check-input" id="1" name="gender"
                                       type="radio" value="1">
                                <label class="form-check-label" for="1">
                                    男
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="0" name="gender" type="radio"
                                       value="0">
                                <label class="form-check-label" for="0">
                                    女
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="inputDepartment">Department</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="inputDepartment" name="department.id">
                                <option th:each="dept:${departmentList}" th:text="${dept.departmentName}"
                                        th:value="${dept.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button class="btn btn-primary" type="submit">添加</button>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
    
    
    <div th:replace="common/common::js"></div>
</body>
</html>